.col{
  width: 60px;
  float: left;
  margin: 0px;
}

input {
  width: 60px;
}

h1 {
  text-align: center;
}

.square {
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border: solid;
}
